<%- include('partials/header') %> 

  <% if (!locals.currentUser) { %> 
    <a href="/login">Please Login</a>
  <% } else { %>
    <div class="container">
      <h3>Welcome, <%- locals.currentUser.name %> </h3>
    </div>
  <% } %> 

<%- include('partials/footer') %> 
