<!DOCTYPE html>
<html>
  <head>
    <title>Game Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark sticky-top">
      <a href="/" class="navbar-brand h1">Game Store.</a>

      <div class="row">
        <div class="nav-item dropdown">
          <a href="#" id="navbarDropdown" class="nav-link text-light dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a href="/category/create" class="dropdown-item text-light">Category</a>
            <a href="/game/create" class="dropdown-item text-light">Game</a>
          </div>
        </div>
  
        <div class="nav-item active">
          <a target="_blank" href="https://github.com/Reshav-Paul/Reshav-The-Odin-Project/tree/master/nodejs/game-store" class="nav-link text-light">Source Code</a>
        </div>
      </div>      

    </nav>
    