* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
    margin: 1rem 0;
}

.text-box {
    padding: 0.2rem 0.6rem;
    border: 1px solid #bbb;
}

.text-box:focus {
    box-shadow: 0 0 1px grey inset;
}

.btn {
    padding: 0.4rem 0.5rem;
    border: none;
    background-color: #eee;
}

.btn:hover {
    filter: brightness(0.9);
}

.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar {
    padding: 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 32px;
    background-color: white;
}

#navbar > div:first-child {
    justify-content: flex-start;
    font-size: 1.2rem;
    margin: 0 2rem;
}

#logo {
    height: 18px;
    width: 100px;
    margin: 0 1rem;
    background-image: url('https://www.youtube.com/about/static/svgs/icons/brand-resources/YouTube-logo-full_color_light.svg?cache=72a5d9c');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#search {
    width: 100%;
    text-align: center;
}
#search .text-box {
    width: 60%;
    max-width: 500px;
    line-height: 24px;
}
#search .btn {
    padding: 0.45rem 1.2rem;
    border: 1px solid #bbb;
    border-left: none;
}

#nav-links {
    justify-content: space-evenly;
    margin: 0 1rem;
}

#nav-links > li {
    cursor: pointer;
    margin: 0 1rem;
    font-size: 1.1rem;
    text-align: center;
    color: #555;
}
#nav-links .search {
    display: none;
}

.avatar {
    background-color: #4455b8;
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#main {
    background-color: #f9f9f9;
    margin-top: 58px;
    padding: 24px 4rem;
    display: flex;
}
#video {
    width: 68%;
}

#video > #player > iframe {
    height: 71vh;
    min-width: 520px;
    min-height: 360px;
    width: 100%;
}

#video > .title {
    margin-top: 1rem;
    font-size: 1.1rem;
}

#video #info {
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3rem;
}

#video #info-text {
    color: #333;
    font-size: 0.9rem;
}

#video #stats-options div {
    margin: 0.7rem;
    font-size: 0.9rem;
    color: #555;
}

#channel-details {
    margin: 1rem 0;
}

#channel-details .avatar {
    height: 3rem;
    width: 3rem;
    background-color: #1f9914;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

#channel-details .column {
    justify-content: center;
    align-items: center;
}

#channel-details .btn {
    background-color: #c40c0c;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.6rem 0.8rem;
}

#description-text {
    font-size: 0.9rem;
    margin: 1rem 0;
    margin-left: 3.5rem;
}

#next {
    width: 32%;
    min-width: 400px;
    padding-left: 1rem;
}

#next .controls {
    margin-bottom: 1rem;
}

#next-videos .vid-card {
    display: flex;
    margin: 0.5rem;
    margin-bottom: 0;
    height: 94px;
    cursor: pointer;
}

#next-videos .vid-card .thumbnail {
    height: 100%;
    width: 168px;
}

#next-videos .vid-card .details {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.vid-card .details * {
    margin-bottom: 0.2rem;
    color: #555;
}
.vid-card .details .title {
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
}
@media (max-width: 1280px) {
    #main {
        padding: 24px;
    }
    #video > #player > iframe {
        height: 36vw;
        max-width: 800px;
    }
}
@media (max-width: 1020px) {
    #main {
        flex-direction: column;  
        justify-content: center;      
    }
    #video, #next {
        width: 100%;
        padding: 0;
    }
    #video {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #video > #player {
        display: flex;
        justify-content: center;
    }
    #video > #player > iframe {
        width: 680px;
        height: 420px;
        min-width: 0;
        min-height: 0;
    }
}

@media (max-width: 672px) {
    #search {
        display: none;
    }
    #nav-links .search {
        display: block;
    }
    #nav-links li{
        margin: 0 0.7rem;
    }
    #video > #player > iframe {
        width: 100%;
        height: calc((100vw - 24px) * 9 / 16);
    }
}