.App {
  text-align: left;
  display: flex;
  align-items: stretch;
}

.sidebar {
  max-width: 200px;
  text-align: left;
  flex-grow: 2;
}

.sidebar a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0.3rem 0;
  padding: 0.5rem 0.7rem;
  color: #bec3cc;
  font-size: 0.9rem;
  border-radius: 0 15px 15px 0;
}

.sidebar a.active {
  background-color: #98bcffaa;
  color: #173670;
  font-weight: bold;
}

.sidebar > .heading {
  padding: 0 1rem;
  color: #cfdbf3;
}

.main {
  /* width: 100%; */
  flex-grow: 8;
  display: flex;
  color: #bec3cc;
}

.gen-info, .ed-info {
  margin: 1rem auto;
}

.gen-info > form, .ed-info > form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.gen-info > form {
  max-width: 350px;
}

.gen-info > form > *, .ed-info > form > * {
  display: inline-block;
  margin: 0.5rem 1rem;
}

.gen-info > form > button, .ed-info > form > button {
  align-self: center;
}

.gen-info-preview {
  margin: 1rem auto 1rem auto;
  background-color: #121518;
  padding: 1rem;
  max-width: 350px;
  min-width: 100px;
  border-left: 2px solid #98bcffaa;
  align-self: flex-start;
}
.gen-info-preview > .heading {
  margin: 0;
  /* line-height: 0; */
}

@media(max-width: 1024px) {
  .main {
    flex-direction: column;
  }
}