.App {
  text-align: left;
  display: flex;
  align-items: stretch;
  font-family: 'Source Sans Pro', sans-serif;
}

.sidebar {
  max-width: 200px;
  min-width: 200px;
  text-align: left;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.sidebar a {
  /* display: block; */
  box-sizing: border-box;
  /* width: 100%; */
  margin: 0.3rem 0;
  padding: 0.5rem 0.7rem;
  color: #bec3cc;
  font-size: 0.9rem;
  border-radius: 0 15px 15px 0;
}

.sidebar a.active {
  background-color: #98bcffaa;
  color: #173670;
  font-weight: bold;
}

.sidebar > .heading {
  padding: 0 1rem;
  color: #cfdbf3;
}

.main {
  /* width: 100%; */
  flex-grow: 8;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  color: #bec3cc;
  padding-left: 1rem;
}
.main > div {
  max-width: 600px;
  min-width: 400px;
}
.gen-info, .ed-info, .prof-info, .proj-info, .cert-info {
  margin: 1rem auto;
}

.regular-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
}

.gen-info > form {
  max-width: 350px;
}

.regular-form > * {
  display: inline-block;
  margin: 0.5rem 1rem;
}

.regular-form > button {
  align-self: center;
}

.gen-info-preview {
  margin: 1rem auto 1rem auto;
  background-color: #242830;
  padding: 1rem;
  max-width: 350px;
  min-width: 100px;
  border-left: 2px solid #98bcffaa;
  align-self: flex-start;
  min-width: 300px;
}
.gen-info-preview > .heading {
  margin: 0;
  /* line-height: 0; */
}
.ed-info .header {
  margin-bottom: 0rem;
}
.ed-info p {
  margin-top: 0;
}
.skills, .proj-info {
  width: 100%;
}
.left-aligned-small-form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
}
.left-aligned-small-form > input, .left-aligned-small-form > textarea {
  margin-bottom: 1rem;
}
.left-aligned-small-form > label {
  margin-bottom: 0.5rem;
}
.left-aligned-small-form > button {
  align-self: center;
}
.skills {
  max-width: 100% !important;
}
.skills form.skill-form {
  display: inline-block;
  margin: 0 1rem;
}
.skills form.skill-form > input {
  padding: 0.5rem 0.6rem;
  font-size: 0.8rem;
}

.skills form.skill-form > button {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.45rem 1rem;
}
ul.skill-groups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.skills-list {
  margin: 1rem 0;
  padding-left: 0;
}
.skills-list li {
  border-left: 2px solid #98bcffaa;
  list-style: none;
  padding: 0.3rem 1.2rem;
  position: relative;
  font-weight: bold;
}
.skills-list li:last-of-type {
  border-left: none;
}
.skills-list li::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  height: 2px;
  width: 0.5rem;
  background-color: #98bcffaa;
}
.skills-list li:last-of-type::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 50%;
  width: 2px;
  background-color: #98bcffaa;
}

ol.projects {
  padding-left: 1rem;
}
ol.projects li > .header {
  margin: 0;
}
ol.projects li > p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#preview {
  background-color: white;
  color: black;
  background: white;
  width: 21cm;
  min-width: 21cm;
  height: 29.7cm;
  min-height: 29.7cm;
  display: block;
  margin: 0.5cm auto;
  box-sizing: border-box;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

#preview > .personal, #preview > .professional {
  padding-right: 0.5rem;
}

#preview .name {
  margin-top: 1rem;
  margin-bottom: 0;
}
#preview .contact {
  font-size: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  line-height: 1rem;
  border-left: 3px solid green;
  padding: 0 0 0.3rem 0.3rem;
}

.m-0 {
  margin: 0;
}

ul.prof-exp, ul.education {
  padding-left: 0;
  margin-top: 0.3rem;
}
ul.prof-exp > .company, ul.education > .degree {
  position: relative;
  list-style: none;
  padding-bottom: 0.5rem;
  border-left: 2px solid grey;
  padding-left: 0.5rem;
}

ul.prof-exp > .company::before, ul.education > .degree::before {
  position: absolute;
  left: -3.5px;
  top: 0;
  display: block;
  content: '';
  height: 5px;
  width: 5px;
  background-color: #333333;
  border-radius: 50%;
}

.company .job-type{
  display: inline-block;
  margin-left: 0.5rem;
}
.company p, .degree p {
  font-size: 0.9rem;
}
.skillset ul {
  padding-left: 0;
  list-style: none;
}
.skillset p, .skillset .heading  {
  margin: 0;
}

#preview ul.projects-list {
  padding-left: 0;
  list-style: none;
  margin-right: 1rem;
}
#preview ul.projects-list > .project {
  padding-left: 1rem;
  border-left: 1px solid black;
  position: relative;
}
#preview ul.projects-list > .project::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -3px;
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
}

#preview ul.projects-list > .project::after {
  content: '';
  display: block;
  position: absolute;
  height: 1rem;
  width: 1px;
  left: -1px;
  bottom: -1rem;
  background-color: black;
}

#preview ul.projects-list > .project:last-of-type::after {
  height: 0;
  width: 0;
}

#preview ul.projects-list .header {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#preview ul.projects-list .description {
  margin-top: 0;
}

#preview ul.projects-list .tools {
  font-size: 0.8rem;
}

.cert-info a {
  color: #98bcffaa;
}
ul.certifications-list .header {
  margin-bottom: 0rem;
}
#preview ul.certifications-list .header {
  margin-top: 0.5rem;
}
#preview ul.certifications-list {
  padding-left: 1rem;
}
ul.certifications-list .issuer {
  margin: 0;
  margin-bottom: 0.5rem;
}

@media(max-width: 1024px) {
  .main {
    flex-direction: column;
  }
}

@media(max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sidebar a {
    align-self: center;
    border-radius: 10px 10px;
    margin: 0 0.5rem;
  }
}
